body {
    font-family:  Figtree, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  ;;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0b67c2;
}

.portfolio-card {
    max-width: 300px;
    margin: 50px auto;
    background-color: #dddddd;
    box-shadow: 0 14px 14px 0 rgb(85, 7, 158);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}

.portfolio-card img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 12px 12px 0 rgb(80, 76, 76);
    cursor: pointer;
    background: transparent;
}

.portfolio-card img:hover {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    transition: 1300ms;
    transform: scale(1300ms);
}

.portfolio-card h2 {
    margin-top: 10px;
    color: #333;
}

.portfolio-card p {
    color: #666;
    font-size: 14px;
    line-height: 1.5;
    font-weight: bold;
    color: #333;
}

.portfolio-card .judul {
    color: #666;
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold;
    color: #333;
    text-shadow: black ;
}

.portfolio-card ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.portfolio-card ul li {
    margin: 0 5px;
    display: inline-block;
}

.portfolio-card ul li a {
    text-decoration: none;
    color: #000000;
    padding: 8px 15px;
    transition: background-color 0.3s, color 0.3s;
    justify-content: space-around;
    display: inline-block;
    display: flex;
    justify-content: center;
    font-size: 23px;
    border-radius: 100px;
}

.portfolio-card ul li.x a:hover {
    background-color:#03a3f4;
    color: #fff;
    transition: 0.5s;
}

.portfolio-card ul li.in a:hover {
    background-color:#0b67c2;
    color: #fff;
    transition: 0.5s;
}

.portfolio-card ul li.git a:hover {
    background-color:#000509;
    color: #fff;
    transition: 0.5s;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    .portfolio-card {
        max-width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .portfolio-card ul {
        margin-top: 10px;
    }

    .portfolio-card ul li {
        display: block;
        margin: 5px 0;
    }
}


